{% extends 'custom_wagtail/table.html' %}
{% load i18n staticfiles %}

{% block content %}
    {% block header %}
        <header class="nice-padding hasform">
            <div class="row">
                <div class="left">
                    <div class="col">
                        {% block h1 %}{{ block.super }}{% endblock %}
                    </div>
                    {% block search %}{{ block.super }}{% endblock %}
                </div>
                {% block header_extra %}
                {% endblock %}
            </div>
        </header>
    {% endblock %}

    {% block content_main %}
        {{ block.super }}
    {% endblock %}
{% endblock %}