{% extends "custom_wagtail/_base.html" %}
{% load static %}
{% load i18n %}
{% load l10n %}

{% block titletag %}
  {% trans "Dashboard" %}
{% endblock %}

{% block extra_js %}
  {{ block.super }}
  <script src="{{ view.get_js }}" type="text/javascript"></script>
{% endblock %}

{% block content %}
  {% block header %}
    <header class="nice-padding hasform">
      <div class="row">
        <div class="left">
          <div class="col">
            {% block h1 %}<h1 class="icon icon-fa-shopping-cart">Dashboard</h1>{% endblock %}
          </div>
        </div>
        <div class="right">
          {% block header_extra %}
          {% endblock %}
        </div>
      </div>
    </header>
  {% endblock %}

  {% block content_main %}
    <div class="form-wrapper">
    </div>
    <script>
      window.data = JSON.parse('{{ data_json|safe }}');
    </script>
  {% endblock %}
{% endblock %}