{% extends BASE_TEMPLATE_NAME %}
{% load i18n staticfiles %}

{% block titletag %}{{ view.get_meta_title }}{% endblock %}

{% block extra_css %}
    {% include "wagtailadmin/pages/_editor_css.html" %}
    <link rel="stylesheet" type="text/css" href="{% static 'custom_wagtail/style/form.css' %}"/>
    {{ view.media.css }}
{% endblock %}

{% block extra_js %}
    {% include "wagtailadmin/pages/_editor_js.html" %}
    {{ view.media.js }}
{% endblock %}

{% block content %}
    <form action="{% block form_action %}{{ view.create_url }}{% endblock %}"{% if is_multipart %}
          enctype="multipart/form-data"{% endif %} method="POST" novalidate>
        {% block header %}
            <header class="nice-padding hasform">
                <div class="row">
                    <div class="left">
                        <div class="col">
                            {% block h1 %}
                                <h1 class="icon icon-{{ view.header_icon }}">
                                    {{ view.get_page_title }}
                                    <span>{{ view.get_page_subtitle }}</span>
                                </h1>
                            {% endblock %}
                        </div>
                    </div>
                    {% block form_actions %}
                        <div class="right">
                            <button type="submit"
                                    class="button bicolor icon icon-fa-save action-save button-longrunning" tabindex="3"
                                    data-clicked-text="{% trans 'Saving...' %}">
                                <span class="icon icon-spinner"></span>{% trans 'Save' %}
                            </button>
                        </div>
                    {% endblock %}
                    {% block header_extra %}
                    {% endblock %}
                </div>
            </header>
        {% endblock %}
        {% csrf_token %}
        <div class="form-wrapper">
            {% block form %}{{ edit_handler.render_form_content }}{% endblock %}
        </div>
    </form>
{% endblock %}
