{% extends "custom_wagtail/create.html" %}
{% load i18n staticfiles %}

{% block form_action %}{{ view.edit_url }}{% endblock %}

{% block extra_js %}
    {{ block.super }}
    {{ view.media.js }}
{% endblock %}

{% block form_actions %}
    <div class="right">
            <a href="{{ view.delete_url }}"
               class="button no bicolor icon icon-fa-times"
               title="{% trans "Objektum törlése" %}">{% trans "Törlés" %}</a>

        <button
                type="submit"
                class="button bicolor icon icon-fa-save action-save button-longrunning"
                tabindex="3"
                data-clicked-text="{% trans 'Saving...' %}"
        >
            <span class="icon icon-spinner"></span>{% trans 'Save' %}
        </button>
    </div>
{% endblock %}
