{% load i18n custom_wagtail_tags %}
<table class="listing full-width">
    <thead>
    <tr>
        {% for header in result_headers %}
            <th scope="col" {{ header.class_attrib }}>
                {% if header.sortable %}<a href="{{ header.url_primary }}"
                                           class="icon {% if header.ascending %}icon-arrow-up-after{% else %}icon-arrow-down-after{% endif %}">{% endif %}
                {{ header.text|capfirst }}
                {% if header.sortable %}</a>{% endif %}
            </th>
        {% endfor %}
    </tr>
    </thead>
    <tbody>
    {% if not results %}
        <tr><td colspan="100" style="text-align: center">{% trans 'Nincs adat' %}</td></tr>
    {% else %}
        {% for result in results %}
            {% custom_result_row_display forloop.counter0 %}
        {% endfor %}
    {% endif %}
    </tbody>
</table>

