{% extends BASE_TEMPLATE_NAME %}
{% load i18n modeladmin_tags custom_wagtail_tags %}

{% block titletag %}{{ view.get_meta_title }}{% endblock %}

{% block css %}
    {{ block.super }}
    {{ view.media.css }}
{% endblock %}

{% block extra_js %}
    {{ view.media.js }}
{% endblock %}

{% block content %}
    {% block header %}
        <header class="nice-padding hasform">
            <div class="row">
                <div class="left">
                    <div class="col">
                        {% block h1 %}
                            <h1 {% if view.header_icon %}class="icon icon-{{ view.header_icon }}"{% endif %}>{{ view.get_page_title }}<span></span>
                            </h1>{% endblock %}
                    </div>
                    {% block search %}{% search_form %}{% endblock %}
                </div>
                {% block header_extra %}
                    {% if user_can_create %}
                        <div class="right">
                            <div class="addbutton">
                                {% include 'modeladmin/includes/button.html' with button=view.button_helper.add_button %}
                            </div>
                        </div>
                    {% endif %}
                {% endblock %}
            </div>
        </header>
    {% endblock %}

    {% block content_main %}
        <div class="table-body">
            <div class="row">
                {% block content_cols %}

                    {% block filters %}
                        {% if view.has_filters and all_count %}
                            <div class="changelist-filter">
                                {% for spec in view.filter_specs %}{% admin_list_filter view spec %}{% endfor %}
                            </div>
                        {% endif %}
                    {% endblock %}

                    <div class="result-list col12">
                        {% block result_list %}
                            {% custom_result_list %}
                        {% endblock %}
                    </div>

                    {% block pagination %}
                        <div class="pagination col12">
                            <ul>
                                {% pagination_link_previous page_obj view %}
                                {% pagination_link_next page_obj view %}
                            </ul>
                        </div>
                    {% endblock %}

                {% endblock %}
            </div>
        </div>
    {% endblock %}

{% endblock %}
