.wrapper, body.nav-open .wrapper{
    padding-left: 220px;
}

.nav-wrapper {
    .inner {
        background-color: #2c2e3e;
        width: 220px;
    }

    .nav-main{
        overflow: visible;
    }

    .nav-main .menu-item a:before{
        display: block;
        margin: auto;
        margin-bottom: 10px;
        font-size: 1.4rem;
        color: #525672;
    }

    .nav-main a{
        font-size: 1.1em;
    }

    .nav-main li {
        text-align: center;
        margin-bottom: 15px;
    }

    .nav-main .menu-active>a{
        border-left-color: #1469e2;
    }

    li.submenu-active .nav-submenu{

    }

    .nav-submenu{
        left: 220px;
    }

    li.submenu-active .nav-submenu a{
        padding-left: 2em;
    }

}

.content-wrapper{

    .content{
        background-color: #f7f7f7;

        .form-wrapper{
            -webkit-box-shadow: 0px 0px 30px -3px rgba(0, 0, 0, 0.15);
            -moz-box-shadow: 0px 0px 30px -3px rgba(0, 0, 0, 0.15);
            box-shadow: 0px 0px 30px -3px rgba(0, 0, 0, 0.15);
            margin: 20px;
            background-color: white;

            h2{
                background: #26344b;
                color: white;
                height: auto !important;
            }

            .object>h2 label:before, .object>h2:before{
                background-color: #1469e2;
            }

            .button{
                background-color: #1469e2;
            }
        }
    }

    header{
        background-color: #ffffff;
        margin-bottom: 40px !important;
        -webkit-box-shadow: 0px 0px 30px -2px rgba(0,0,0,0.26);
        -moz-box-shadow: 0px 0px 30px -2px rgba(0,0,0,0.26);
        box-shadow: 0px 0px 30px -2px rgba(0,0,0,0.26);
        .button {
            background-color: #1469e2 !important;
        }

        h1{
            color: #2c2e3e;
        }
    }

    .table-body {
        -webkit-box-shadow: 0px 0px 30px -3px rgba(0, 0, 0, 0.15);
        -moz-box-shadow: 0px 0px 30px -3px rgba(0, 0, 0, 0.15);
        box-shadow: 0px 0px 30px -3px rgba(0, 0, 0, 0.15);
        margin: 21px;
        background-color: white;
    }
}

/* Colors */
:root {

}

@media screen and (min-width: 75em) {
    .changelist-filter {
        width: unset;
    }
}

.nav-wrapper, .nav-wrapper .inner {
    background-color: #26344b;
}

.nav-main {
    top: 104px;
}

.navbar-brand {
    color: white;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    font-size: 3em;
    text-align: center;
    vertical-align: middle;
    padding-top: 35px;
    text-transform: uppercase;
}

.nav-wrapper .inner > .nav-search {
    display: none;
}

.nav-submenu, .nav-main .menu-active, li.submenu-active {
    background-color: #1f2b3d;
}

li.submenu-active .nav-submenu,
li.submenu-active .nav-submenu h2,
.submenu-active .nav-submenu > ul {
    width: 200px;
}

li.submenu-active .nav-submenu .menu-item a {

}

.content {
    background-color: #eef1f5;
}

header input[type=text] {
    border: 1px solid darkgray;
}

header {
    background-color: white;
    box-shadow: 0 1px 10px 0 rgba(50, 50, 50, 0.2);
}

.dropdown .dropdown-toggle, .dropdown .dropdown-toggle:hover, .dropdown-open .dropdown-toggle,
.dropdown .dropdown-toggle:active, .dropdown .shortcut {
    background-color: #cd3238 !important;
}

.changelist-filter {
    float: left !important;
    padding-left: 0 !important;
}

.button,
.button:hover,
header .button:hover,
.button:focus,
.button:active,
header .button,
.listing .button-secondary:hover,
.changelist-filter a:hover {
    background-color: #18C445;
}

.button.disabled:hover {
    background-color: #c3c3c3;
    border-color: #c3c3c3;
}

.changelist-filter a.selected {
    background-color: #217ebd !important;
    border-color: #217ebd !important;
    color: white;
}

.changelist-filter a {
    display: inline-block;
}

.changelist-filter a:first-of-type {
    margin-left: 0.5em;
}

.changelist-filter {
    margin-bottom: 1em;
}

a,
a:hover,
.button-secondary,
.changelist-filter a {
    color: #139d37;
}

header h1,
header h2 {
    color: #217ebd !important;
}

.button,
.button:hover,
.button:focus,
.button:active,
.button-secondary:hover,
.listing .button-secondary:hover,
.changelist-filter a,
.changelist-filter a:hover {
    border-color: #18C445;
}

.button.no, .button.no:hover, .button.serious:hover, .button.no.button-secondary:hover {
    background-color: #e7505a;
    border-color: #e7505a;
}

.button.misc,
.button.misc:hover {
    background-color: #217ebd;
    border-color: #217ebd;
}

.button[disabled]:hover {
    background-color: #d9d9d9;
    border-color: #8c8c8c;
    color: #8c8c8c;
}

.messages .success {
    background-color: #32c5d2;
}

.icon-bin.hover-no:hover {
    border-color: #cd3238;
}

.button[disabled] {
    background-color: #d9d9d9;
    border-color: #8c8c8c;
    cursor: not-allowed;
}

.changelist-filter {
    margin-bottom: 0.5em;
    display: none;
}

.form-top-bar {
    padding: 2em 1.5em 0 1.5em;
}

.form-top-bar__toolbar {
    background: white;
    border-radius: 4px;
}

.form-top-bar__navigation {
    display: inline-block;
}

.form-top-bar a {
    padding: 0.7em 1.4em 0.35em 1.4em;
    float: left;
    font-size: 0.95em;
}

.form-top-bar__buttons {
    float: right;
}

.form-top-bar__buttons > button {

}

.form-top-bar__buttons > a {
    color: #333;
    float: left;
}

.form-top-bar__buttons > a:hover {
    color: #545454;
}

.deletebutton a,
.deletebutton a:hover {
    background-color: #cd3238;
}

form button[type="submit"] {
    max-height: 35px;
}

.form-wrapper {
    padding-top: 0;
}

.object fieldset {
    max-width: 100%;
    width: 100% !important;
}

.right button {
    height: 35px;
}

.clickable-row {
    cursor: pointer;
}

.clickable-row:hover td {
    background-color: #eaeaea;
}

.diff-row td {
    background-color: #FFDC00 !important;
}

.clickable-row.diff-row:hover td {
    background-color: #dbb900 !important;
}

/* DROPDOWN */

.c-dropdown__menu {
    padding: 5px 0 0 0 !important;
    box-shadow: 5px 5px rgba(24, 50, 69, 0.2);
}

.c-dropdown__item .u-link {
    border: none;
    width: 100%;
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.c-dropdown__item .u-link.selected {
    background-color: #18C445 !important;
}

.c-dropdown__item .u-link.selected:hover {
    color: white !important;
}

.c-dropdown__item .u-link:hover:not(.selected) {

    background-color: #efefef !important;
    color: #18C445 !important;
}

.c-dropdown__button {
    border-color: #18C445 !important;
    color: #139d37 !important;
}

.c-dropdown__button:hover {
    background-color: #18C445 !important;
    border-color: #18C445 !important;
    color: white !important;
}

/* __CUSTOM */

.custom-dropdown {
    position: relative;
    display: inline-block;
    bottom: 1px;
    margin-right: 10px;
}

.dropdown-btn {
    min-width: 140px;
    height: 35px !important;
}

.custom-dropdown.up .dropdown-content {
    bottom: 60px;
}

.dropdown-content {
    right: 0;
    display: none;
    position: absolute;
    min-width: 160px;
    margin: 5px 0 0;
    padding: 10px 0 10px 0;

    box-shadow: 5px 5px rgba(102, 102, 102, .1);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    background-color: #fff;
    border: 1px solid #eee;
}

.custom-dropdown:not(.up) .dropdown-content:before {
    position: absolute;
    top: -8px;
    display: inline-block !important;
    left: auto;
    right: 9px;

    border-right: 8px solid transparent;
    border-bottom: 8px solid #e0e0e0;
    border-left: 8px solid transparent;
    content: '';
}

.custom-dropdown:not(.up) .dropdown-content:after {
    position: absolute;
    top: -7px;
    display: inline-block !important;
    content: '';

    border-right: 7px solid transparent;
    border-bottom: 7px solid #fff;
    border-left: 7px solid transparent;
    left: auto;
    right: 10px;
}

.custom-dropdown.up .dropdown-content:before {
    position: absolute;
    bottom: -8px;
    display: inline-block !important;
    left: auto;
    right: 9px;

    border-right: 8px solid transparent;
    border-top: 8px solid #e0e0e0;
    border-left: 8px solid transparent;
    content: '';
}

.custom-dropdown.up .dropdown-content:after {
    position: absolute;
    bottom: -7px;
    display: inline-block !important;
    content: '';

    border-right: 7px solid transparent;
    border-top: 7px solid #fff;
    border-left: 7px solid transparent;
    left: auto;
    right: 10px;
}

.custom-dropdown.open .dropdown-content {
    display: block;
}

.dropdown-content a {
    padding: 12px 16px;
    text-decoration: none;
    display: block;

    color: #7b7b7b;
    text-align: left;
    font-size: 120%;
    cursor: pointer;
    white-space: nowrap;
}

.dropdown-content a.warning {
    color: #cd3238;
}

.dropdown-content a.success {
    color: #18C445;
}

.dropdown-content a:hover {
    background-color: rgba(225, 225, 225, 0.3);
}

.dropdown-content i {
    padding-right: 5px;
    font-size: 120%;
    margin: 3px;
}

.dropdown-content .divider {
    height: 1px;
    margin: 9px 0;
    overflow: hidden;
    background: #e5e5e5;
}

.ReactModal__Content .divider {
    height: 2px;
}

/* REMOVE LABEL */

.no-label label {
    display: none;
}

/* CHECKBOX */

input[type=checkbox]:disabled {
    cursor: not-allowed;
}

/* DATEPICKER */

.xdsoft_datetimepicker {
    z-index: 2000;
}

.help-text {
    margin-left: 15px;
}

/* PAGINATION */

.pagination {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.pagination ul {
    margin-top: 4px !important;
    float: right;
    display: inline-block;
}

.pagination ul li {
    display: inline;
}

.pagination a {
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #337ab7;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd;
}

.pagination i:before {
    vertical-align: inherit;
}

.pagination a.disabled {
    cursor: not-allowed;
}

.pagination li.active a {
    background-color: #2f394a;
    border-color: #2f394a;
    color: white;
}

.pagination .next {
    float: initial;
}

.pagination .info {
    float: left !important;

    margin-top: 7px !important;
    margin-left: 5px;
}

/* FORM */

.checkbox_input .field-content {
    margin-top: 12px !important;
}


.form-wrapper {
    padding: 0px;
}

.form-wrapper > ul.objects {
    border: none;
}

.form-wrapper h2 {
    color: white;
    background-color: #2f394a;
    font-weight: bolder;
    padding: 12px 8px 12px 25px;
    font-size: 14px;
}

.form-wrapper .object > h2 label:before, .object > h2:before {
    display: none;
}

.form-wrapper .object {
    padding: 0px;
    background-color: white;
}

.inline-table {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin-top: 60px;
}

.inline-table td, .inline-table th {
    border: none;
    padding: 8px;
}

.inline-table tr:nth-child(even) {
    background-color: #f7f7f7;
}

.inline-table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #2f394a;
    color: white;
}

.inline-table-actions {
    width: 100px;
}

/*TODO JUST VISUAL PROBLEMSOLVER!!!!! */

.no-fieldset fieldset {
   display: none;
}

.text-center {
    text-align: center;
}

input[disabled] {
    background-color: #eee;
    color: #555;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075)
}

input[disabled]:hover {
    cursor: not-allowed;
    color: #555;
    background-color: #eee;
}

/* SMALLER FORM FIELDS */

input, select, textarea {
    padding: 7px;
}

input[type=checkbox] {
    margin: auto;
}

.input > span:after {
    line-height: 0.9em !important;
}

.input:before {
    line-height: 40% !important;
}

label {
    padding: 9px !important;
}

.object {
    /*padding: 0;*/
}

fieldset {
    max-width: none !important;
}

select[disabled],
select[disabled]:hover {
    cursor: not-allowed;
    background-color: #eee;
}


/* TABLE */

.table-body {
    padding: 0px;
}

.listing > thead > th {
    height: 50px;
}

.listing.full-width th {
    background-color: #2f394a;
    color: white;
    vertical-align: middle;
    font-size: 14px;
    font-weight: 600;
    padding: 8px;
    line-height: 1.42857143;
    text-align: left;
    height: 32px;
}
.listing thead th.sorted a {
    color: white!important;
    font-weight: bolder;
}
.listing tr, .listing tbody tr, .listing tbody tr:first-child {
    border-spacing: 2px;
    border-top: none !important;
}
.listing > tbody > tr:nth-of-type(odd) {
    background-color: #f7f7f7;
}
.listing > tbody > tr:nth-of-type(even) {
    background-color: white;
}

div.pagination {
    border-top: none !important;
}

.listing .actions {
    visibility: visible;
    margin-top: 0;
}

.listing th, .listing td {
    padding: 1.5em 1.5em;
}

.listing {
    font-size: 1.15em;
}



/* Labeling */

.label {
    background-color: #eacd12;
    border-radius: 5%;
    margin: auto;
    padding: 5px;
    text-align: center;
    font-size: 1em;
}

td.field-checkbox, th.field-checkbox {
    text-align: center;
    vertical-align: middle;
}

/* PRICE */

.column-formatted_price {
    width: 10%;
}

.hallotoolbar [class*=" icon-"]:before, .hallotoolbar [class^=icon-], .hallotoolbar [class^=icon-]:before, .icon:after, .icon:before{
        text-align: center !important;
}

.nav-main .menu-item a:after{
    top: 1.3em;
}

.listing td, .listing th{
    vertical-align: middle !important;
}

.nav-main .footer{
    width: 220px;
    margin-bottom: 0px !important;
}


.ReactModalPortal > * {
    /*// When the modal is closed, overlay div has no css class*/
    /*// This selector should be overridden by the `&--after-open` class below*/
    opacity: 0;
}

.ReactModal__Content--after-open {
    overflow: scroll !important;
}

.ReactModal__Overlay {
    transition: opacity 400ms ease-in-out;
    background: rgba(0, 0, 0, 0.15);
}

.ReactModal__Overlay--after-open {
    opacity: 1;
}

.ReactModal__Overlay--before-close {
    opacity: 0;
}

.ReactModal__Content::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, .2);
    background-clip: padding-box;
    border: solid transparent;
    border-width: 0;
    min-height: 28px;
    padding: 100px 0 0;
    box-shadow: inset 1px 1px 0 rgba(0, 0, 0, .1), inset 0 -1px 0 rgba(0, 0, 0, .07);
}

.ReactModal__Content {
    transition: visibility 1s linear;
    padding: 20px;
}

.iziModal {
    box-shadow: none !important;
}

.iziModal-footer {
    float: right;
}

.iziModal-footer button {
    margin: 10px;
}

/* CUSTOM DIALOG WINDOW */
.dialog-header {
    font-size: 200%;
    text-align: center;
    margin: 10px;
    font-weight: bold;
    padding-bottom: 20px;
    border-bottom: 1px solid #707070;
}

.dialog-content {
    font-size: 150%;
    line-height: 130%;
    margin: 10px;
}

.dialog-footer {
    float: right;
}
