{% extends "custom_wagtail/_base.html" %}
{% load static %}
{% load i18n %}
{% load l10n %}

{% block css %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static 'custom_wagtail/style/form.css' %}" type="text/css"/>
  {% if manufacture_details_css %}
    <link rel="stylesheet" href="{{ manufacture_details_css }}">{% endif %}
{% endblock %}

{% block js %}
  {{ block.super }}
  <script src="{% static 'app/scripts/common/checkbox.js' %}" type="text/javascript"></script>
  <script src="{{ manufacture_details_js }}" type="text/javascript"></script>
{% endblock %}

{% block titletag %}
  {% trans "Manufacture Plan Details" %}
{% endblock %}

{% block content %}
  {% block header %}
    <header class="nice-padding hasform">
      <div class="row">
        <div class="left">
          <div class="col">
            {% block h1 %}
              <h1 class="icon icon-fa-folder-open">Manufacture
                plan {{ manufacture_plan }}</h1>{% endblock %}
          </div>
        </div>
        <div class="right">
          <div class="custom-dropdown">
            <button class="button dropdown-btn misc bicolor icon icon-fa-caret-down">
              Options
            </button>
            <div class="dropdown-container">
              <div class="dropdown-content">
                <a id="print-labels-button"
                   title="{% trans "Print labels from manufacture plan" %}">
                  <i class="icon icon-fa-qrcode"></i>
                  {% trans 'Label' %}
                </a>
                <a id="pdf-button" target="_blank"
                   href="{% url 'manufacture-plan-pdf-export' manufacture_plan.id %}"
                   title="{% trans "Creating PDF from manufacture plan" %}">
                  <i class="icon icon-fa-file-pdf-o"></i>
                  {% trans 'PDF Export' %}
                </a>
                <div class="divider"></div>

                <a id="submit-delete-btn" isDelete
                   title="{% trans "Selected products send back to open" %}">
                  <i class="icon icon-fa-arrow-left"></i>
                  {% trans 'Send back' %}
                </a>
                <a id="submit-btn"
                   title="{% trans "Selected products set to ready" %}"
                   class="success"
                >
                  <i class="icon icon-fa-check"></i>
                  {% trans 'Set ready' %}
                </a>
                <a href="{% url 'app_manufactureplan_modeladmin_delete' manufacture_plan.id %}"
                   id="delete-btn"
                   class="warning"
                   title="{% trans "Gyártási terv törlése" %}">
                  <i class="icon icon-fa-trash"></i>
                  {% trans 'Delete' %}
                </a>
              </div>
            </div>
          </div>
          <a href="{% url 'app_manufactureplan_modeladmin_edit' manufacture_plan.id %}"
             class="button misc bicolor icon icon-edit"
             title="{% trans "Edit manufacture plan" %}">{% trans "Edit" %}
          </a>
        </div>
        {% block header_extra %}
        {% endblock %}
      </div>
    </header>
  {% endblock %}

  {% block content_main %}
    <div class="table-body">
      <div class="row">
        <div class="result-list col12">
          <table class="listing full-width">
            <thead>
            <tr>
              <th scope="col" class="field-checkbox">
                <input type="checkbox" id="select-all">
              </th>
              {% for title in headers %}
                <th scope="col">
                  {{ title }}
                </th>
              {% endfor %}
            </tr>
            </thead>
            <tbody>

            {% for product in ordered_products %}
              <tr id="{{ product.0.0|cut:" " }}"
                  class="clickable-row
                                {% if product.0.2 > 0 %}diff-row{% endif %}
                                {% cycle 'odd' 'even' %}"
              >
                {% for value in product %}
                  {% if forloop.counter == 1 %}
                    <td class="field-checkbox">
                      <input
                              {% if value.1 == 0 %}
                                disabled
                              {% endif %}
                                class="send-checkbox"
                                type="checkbox"
                                id="{{ value.0|cut:" " }}"
                      >
                    </td>
                  {% else %}
                    <td>{{ value }}</td>
                  {% endif %}
                {% endfor %}
              </tr>
            {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div id="loading-modal" class="custom-modal" style="display: none;">
      <div class="dialog">
        <div class="dialog-content">
          <p>{% trans "Generating labels....please wait." %}</p>
          <i class="icon icon-spinner"></i>
        </div>
      </div>
    </div>
    <div id="iframe-div" style="display: none"/>
    <script>
      document.querySelector('#print-labels-button').onclick = function (e) {
        createLabels();
      };

      //doesn't block the load event
      function createIframe() {
        let i = document.createElement("iframe");
        i.id = "labels-iframe";
        i.src = "{% url "label-view" manufacture_plan_id=manufacture_plan.id %}";
        i.name = "pdf";
        document.getElementById("iframe-div").appendChild(i);
      }

      function createLabels() {
        if (!document.getElementById("labels-iframe")) {
          createIframe();
          openLabels();
        } else {
          openLabels();
        }
      }

      function openLabels() {
        const frame = window.frames['pdf'];
        frame.focus();
        frame.print()
      }

    </script>
  {% endblock %}
  <div id="manufact-details-root"></div>
  <script>
    window.manufactureId = {{ manufacture_plan.id|unlocalize }};

    window.deliveryNotes = JSON.parse('{{ delivery_json|safe }}');
    window.manufacturePlans = JSON.parse('{{ manufacture_json|safe }}');
    window.orders = JSON.parse('{{ orders_json|safe }}');

    window.setToFinishedUrl = '{% url "set-ordered-products-and-labels-to-finished" %}';
    window.sendToDeliveryUrl = '{% url "send-ordered-products-and-labels-to-delivery" %}';
    window.transpositionUrl = '{% url "transposition-ordered-products" %}';
    window.deleteUrl = '{% url "delete-ordered-products-from-manufacture-plan" %}';
  </script>
{% endblock %}
