<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
    <title>{{ order.contact.name }}</title>
    <meta charset="utf-8">
    <style type="text/css">
        * {
            margin: 0;
            font-family: 'Calibri', sans-serif;
            word-wrap: break-word;
            white-space: normal;
        }

        html {
{#            zoom: 0.60; /*workaround for phantomJS2 rendering pages too large*/#}
        }

        .bold {
            font-weight: 700;
        }

        table {
            margin-top: 80px;
{#            width: 100%;#}
            border: 1px solid #4b4b4b;
            border-spacing: 0;
            border-collapse: collapse;
            box-sizing: border-box;
            width: 100vw;
        }

        table thead tr th, table tbody tr td {
            font-size: 13px;
            font-weight: 600;
            vertical-align: bottom;
            padding: 8px;
            line-height: 1.42857143;
            text-align: left;
            border: 1px solid #1d1e1f;
            border-bottom-width: 0;
        }

        tr > td {
            border: 1px solid #ddd;
            padding: 2px !important;
            line-height: 1.42857143;
            vertical-align: top;

        }

        .text-center {
            text-align: center;
        }

        .text-right {
            text-align: right;
        }

        table {
            width: 100%;
        }

        thead {
            background-color: grey;
        }

        .even {
            background-color: #d9d9d9;
        }

        {#        table.print-friendly tr td, table.print-friendly tr th,#}
        tbody, tr, td, th{#        table.print-friendly tr.category-row #} {
            page-break-inside: avoid;
            white-space: normal;
        }

        .row {
            display: flex;
            justify-content: center;
        }

        tr.category {
            background-color: white;
        }

        tr.category td {
            text-align: center;
        }

        .main-header {
            background-color: white;
            margin-bottom: 5px;
            font-size: 150%;
        }

        .logo {
            height: 2rem;
            display: table-cell;
            vertical-align: bottom;
        }

        tr > td {
            vertical-align: top !important;
        }

{#        .header th:first-child,#}
{#        table tr > td:first-child {#}
{#            min-width: 10% !important;#}
{#        }#}

        .header th:nth-child(1) {
            width: 17%;
        }
        .header th:nth-child(2) {
            width: 1px !important;
        }
{#        .header th:nth-child(3) {#}
{#            width: 37%;#}
{#        }#}
        .header th:nth-child(4) {
            width: 17%;
        }
        .header th:nth-child(5) {
            width: 18%;
        }
        .header th:nth-child(6) {
            width: 11%;
        }

        tr > td:nth-child(2) {
            text-align: center;
        }

    </style>
</head>
<body>
{% load i18n humanize %}
<div class="page-content">
    <div class="row">
        <table class="listing full-width">
            <thead>
            <tr class="main-header">
                <th colspan="8" class="text-right">
                    <h2>{% trans "Manufacture plan" %} ({{ manufacture_plan.identification_number }})</h2>
                </th>
            </tr>
            <tr class="header">
                {% for title in headers %}
                    <th scope="col">
                        {{ title }}
                    </th>
                {% endfor %}
            </tr>
            </thead>
            <tbody>

            {% for category, products in ordered_products %}
                <tr class="category">
                    <td colspan="{{ products.0|length }}">{{ category }}</td>
                </tr>
                {% for product in products %}
                    <tr class="{% cycle 'odd' 'even' %}">
                        {% for value in product %}
                            <td>{{ value }}</td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
</body>
</html>
