.react-root:not(.cleaned) {
    display: none;
}

.order-table {
    width: 100%;
    margin-top: 25px;
}

.object.full.multi-field > fieldset {
    max-width: unset;
    margin-left: unset;
}

.add {
    cursor: unset;
}

.ReactModalPortal > * {
    opacity: 0;
}

.ReactModal__Overlay {
    transition: opacity 200ms ease-in-out;
    background: rgba(0, 0, 0, 0.15);
}

.ReactModal__Overlay--after-open {
    opacity: 1;
}

.ReactModal__Overlay--before-close {
    opacity: 0;
}

.ReactModalPortal .inline-table {
    margin-top: 0;
}

label[for="id_note"] {
    width: 16%;
}

.iziModal-footer {
    padding: 5px;
    border-top: 1px solid #ddd;
}

td .button {
    margin-right: 5px;
}

.order-root.hidden {
    display: none;
}

.input > input {
    max-height: 35px;
}

table .input > .order-input {
    padding: 7px!important;
}
table .input > .order-input {
    -moz-appearance:textfield;
}
table .input > .order-input::-webkit-outer-spin-button,
table .input > .order-input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
