{% extends "custom_wagtail/_base.html" %}
{% load static %}
{% load i18n %}
{% load l10n %}

{% block titletag %}
  {% trans "Rendelés részletek" %}
{% endblock %}

{% block content %}
  {% block header %}
    <header class="nice-padding hasform">
      <div class="row">
        <div class="left">
          <div class="col">
            {% block h1 %}<h1 class="icon icon-fa-shopping-cart">{{ order }}</h1>{% endblock %}
          </div>
        </div>
        <div class="right">
          <a href="{% url 'app_order_modeladmin_edit' order.id %}" class="button misc bicolor icon icon-edit"
             title="{% trans "Rendelés szerkesztése" %}">{% trans "Szerkesztés" %}</a>

          {% block header_extra %}
          {% endblock %}
        </div>
      </div>
    </header>
  {% endblock %}

  {% block content_main %}
    <div class="form-wrapper">
      <div class="objects">
        <div class="object collapsible multi-field">
          <h2>{% trans "Megrendelő adatai" %}</h2>
          <div class="fields">
            <ul class="field-row">
              {% for label, data in order_data %}
                {% if data %}
                  <li class="field-col col6">
                    <div class="field">
                      <label>{{ label }}:</label>
                      <div class="field-content">{{ data }}</div>
                    </div>
                  </li>
                {% endif %}
              {% endfor %}
            </ul>
          </div>
        </div>
        <div class="object collapsible multi-field" style="padding-bottom: 10px;">
          <h2>{% trans "Termékek" %}</h2>
          <table class="listing table inline-table products-table">
            <thead>
            <tr>
              {#                            <th scope="col"><input id="select-all" type="checkbox"/></th>#}
              {% for title in headers %}
                <th scope="col">{{ title }}</th>
              {% endfor %}
            </tr>
            </thead>
            <tbody>
            {% for po in product_orders %}
              <tr class="clickable-row" id="{{ po.0.0|cut:" " }}">
                {% for value in po %}
                  {% if forloop.counter == 1 %}
                    {#                                        <td class="text-center">#}
                    {#                                            <input#}
                    {#                                                    {% if value.1 == 0 %}#}
                    {#                                                        disabled#}
                    {#                                                        title="{% trans "Nincs szabad termék" %}"#}
                    {#                                                    {% endif %}#}
                    {#                                                        type="checkbox" id="{{ value.0|cut:" " }}"#}
                    {#                                            />#}
                    {#                                        </td>#}
                  {% elif forloop.counter == po|length %}
                    {#                                        <td style="text-align: center">#}
                    {#                                            <button type="submit" id="{{ value|cut:" " }}"#}
                    {#                                                    class="product-parts-btn button misc icon icon-fa-cog">#}
                    {##}
                    {#                                            </button>#}
                    {#                                        </td>#}
                  {% else %}
                    <td>{{ value }}</td>
                  {% endif %}
                {% endfor %}
              </tr>
            {% endfor %}
            </tbody>
          </table>
          {#                    {% for po in order.product_orders.all %}#}
          {#                        <div class="iziModal hasScroll" id="modal-{{ po.id }}">#}
          {#                            <div class="iziModal-header">{{ po.product.name }}{% trans " anyagnormája" %}</div>#}
          {#                            <table class="modal-table table inline-table" style="margin-top: 0;">#}
          {##}
          {#                                <thead>#}
          {#                                <tr>#}
          {#                                    <th>{% trans "Megnevezés" %}</th>#}
          {#                                    <th>{% trans "Alapanyag" %}</th>#}
          {#                                    <th>{% trans "Mennyiség" %}</th>#}
          {#                                    <th>{% trans "Egységár" %}</th>#}
          {#                                </tr>#}
          {#                                </thead>#}
          {#                                <tbody>#}
          {#                                {% for po_part in po.parts.all %}#}
          {#                                    <tr>#}
          {#                                        <td>{{ po_part.name }}</td>#}
          {#                                        <td>{{ po_part.material.name }}</td>#}
          {#                                        <td>{{ po_part.material_quantity }}</td>#}
          {#                                        <td>{{ po_part.price }}</td>#}
          {#                                    </tr>#}
          {#                                {% endfor %}#}
          {#                                </tbody>#}
          {#                            </table>#}
          {#                        </div>#}
          {#                    {% endfor %}#}
        </div>
      </div>
    </div>
    <div id="order-details-root"></div>
    <script src="{% static 'app/scripts/order/details.min.js' %}"></script>
    <script>
      window.orderId = {{ order.id }};

      window.deliveryNotes = JSON.parse('{{ delivery_json|safe }}');
      window.manufacturePlans = JSON.parse('{{ manufacture_json|safe }}');
      window.orders = JSON.parse('{{ orders_json|safe }}');

      window.addToManufactureUrl = '{% url "add-ordered-products-and-labels-to-manufacture-plan" %}';
      window.setToFinishedUrl = '{% url "set-ordered-products-and-labels-to-finished" %}';
      window.sendToDeliveryUrl = '{% url "send-ordered-products-and-labels-to-delivery" %}';
      window.transpositionUrl = '{% url "transposition-ordered-products" %}';
    </script>
  {% endblock %}
{% endblock %}