{% extends 'custom_wagtail/table.html' %}
{% load i18n staticfiles %}

{% block css %}
    {{ block.super }}
    {% if order_details_css %}
        <link rel="stylesheet" href="{{ order_details_css }}">{% endif %}
{% endblock %}

{% block js %}
    {{ block.super }}
    <script src="{{ order_details_js }}" type="text/javascript"></script>
{% endblock %}

{% block content %}
    {% block header %}
        {{ block.super }}
        {% block header_extra %}
        {% endblock %}
    {% endblock %}

    {% block content_main %}
        {{ block.super }}
    {% endblock %}
    <div id="order-details-root"></div>
    <script>
        window.submitUrl = '{% url "send-to-manufacture" %}';

        window.setToFinishedUrl = '{% url "set-ordered-products-and-labels-to-finished" %}';
        window.addToManufactureUrl = '{% url "add-ordered-products-and-labels-to-manufacture-plan" %}';
        window.sendToDeliveryUrl = '{% url "send-ordered-products-and-labels-to-delivery" %}';
        window.transpositionUrl = '{% url "transposition-ordered-products" %}';

        window.deliveryNotes = JSON.parse('{{ delivery_json|safe }}');
        window.manufacturePlans = JSON.parse('{{ manufacture_json|safe }}');
        window.orders = JSON.parse('{{ orders_json|safe }}');

        window.clients = JSON.parse('{{ clients_json|safe }}');
    </script>
{% endblock %}