{% extends "custom_wagtail/_base.html" %}
{% load static %}
{% load i18n %}
{% load l10n %}

{% block css %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static 'custom_wagtail/style/form.css' %}" type="text/css"/>
  {% if delivery_note_details_css %}
    <link rel="stylesheet" href="{{ delivery_note_details_css }}">{% endif %}
{% endblock %}

{% block js %}
  {{ block.super }}
  <script src="{% static 'app/scripts/common/checkbox.js' %}" type="text/javascript"></script>
  <script src="{{ delivery_note_details_js }}" type="text/javascript"></script>
{% endblock %}

{% block titletag %}
  {% trans "Delivery plan details" %}
{% endblock %}

{% block content %}
  {% block header %}
    <header class="nice-padding hasform">
      <div class="row">
        <div class="left">
          <div class="col">
            {% block h1 %}
              <h1 class="icon icon-fa-envelope">Delivery plan: {{ delivery_note }}</h1>{% endblock %}
          </div>
        </div>
        <div class="right">
          <div class="custom-dropdown">
            <button class="button dropdown-btn misc bicolor icon icon-fa-caret-down">
              Options
            </button>
            <div class="dropdown-container">
              <div class="dropdown-content">
                <a id="pdf-button" target="_blank"
                   href="{% url 'delivery-note-pdf-export' delivery_note.id %}"
                   title="{% trans "Creating PDF for delivery note" %}">
                  <i class="icon icon-fa-file-pdf-o"></i>
                  {% trans 'PDF Export' %}
                </a>
                <a id="invoice"
                   title="{% trans "Create invoice" %}">
                  <i class="icon icon-fa-file"></i>
                  {% trans 'Invoce' %}
                </a>

                <div class="divider"></div>

                <a id="move-btn"
                   title="{% trans "Transposition selected products" %}">
                  <i class="icon icon-fa-backward"></i>
                  {% trans 'Transposition' %}
                </a>

                <div class="divider"></div>

{#                <a href="{% url 'delivery-note-change-status' delivery_note.id %}"#}
{#                        {% if delivery_note.status %}#}
{#                   title="{% trans "Open delivery note" %}">#}
{#                          <i class="icon icon-fa-envelope-open"></i>#}
{#                          {% trans 'Open' %}#}
{#                        {% else %}#}
{#                          title="{% trans "Close delivery note" %}">#}
{#                          <i class="icon icon-fa-envelope"></i>#}
{#                          {% trans 'Close' %}#}
{#                        {% endif %}#}
{#                </a>#}

                <a href="{% url 'app_deliverynote_modeladmin_delete' delivery_note.id %}"
                   class="warning"
                   title="{% trans "Delete delivery note" %}">
                  <i class="icon icon-fa-trash"></i>
                  {% trans 'Delete' %}
                </a>
              </div>
            </div>
          </div>
          <a href="{% url 'app_deliverynote_modeladmin_edit' delivery_note.id %}"
             class="button misc bicolor icon icon-edit"
             title="{% trans "Edit delivery note" %}">
            {% trans "Edit" %}
          </a>
        </div>
        {% block header_extra %}
        {% endblock %}
      </div>
    </header>
  {% endblock %}

  {% block content_main %}
    <div class="form-wrapper">
      <div class="objects">
        <div class="object collapsible multi-field">
          <h2>{% trans "Delivery note info" %}</h2>
          <div class="fields">
            <ul class="field-row">
              {% for label, data in delivery_note_data %}
                {% if data %}
                  <li class="field-col col6">
                    <div class="field">
                      <label>{{ label }}:</label>
                      <div class="field-content">{{ data }}</div>
                    </div>
                  </li>
                {% endif %}
              {% endfor %}
            </ul>
          </div>
        </div>
        <div class="object collapsible multi-field" style="padding-bottom: 10px;">
          <h2>{% trans "Products" %}</h2>
          <table class="listing full-width table inline-table products-table">
            <thead>
            <tr>
              <th scope="col" class="field-checkbox">
                <input type="checkbox" id="select-all"/>
              </th>
              {% for title in headers %}
                <th scope="col">
                  {{ title }}
                </th>
              {% endfor %}
            </tr>
            </thead>
            <tbody>

            {% for product in ordered_products %}
              <tr id="{{ product.0.0|cut:" " }}"
                  class="clickable-row
                                        {% if product.0.1 > 0 %}diff-row{% endif %}
                                        {% cycle 'odd' 'even' %}"
              >
                {% for value in product %}
                  {% if forloop.counter == 1 %}
                    <td class="field-checkbox">
                      <input
                              class="send-checkbox"
                              type="checkbox"
                              id="{{ value.0|cut:" " }}"
                      >
                    </td>
                  {% else %}
                    <td>{{ value }}</td>
                  {% endif %}
                {% endfor %}
              </tr>
            {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  {% endblock %}
  <div id="delivery-note-root"></div>
  <script>
    window.deliveryNoteId = {{ delivery_note.id|unlocalize }};
    window.submitUrl = '{% url "move-to-another-delivery-note" %}';
    window.deleteUrl = '{% url "delete-from-delivery-note" %}';


    {#window.setToFinishedUrl = '{% url "set-ordered-products-and-labels-to-finished" %}';#}
    {#window.setToOpenUrl = '{% url "set-ordered-products-and-labels-to-open" %}';#}
    window.sendToDeliveryUrl = '{% url "send-ordered-products-and-labels-to-delivery" %}';
    window.addToManufactureUrl = '{% url "add-ordered-products-and-labels-to-manufacture-plan" %}';
    window.transpositionUrl = '{% url "transposition-ordered-products" %}';

    window.deliveryNotes = JSON.parse('{{ delivery_json|safe }}');
    window.manufacturePlans = JSON.parse('{{ manufacture_json|safe }}');
    window.orders = JSON.parse('{{ orders_json|safe }}');
  </script>
{% endblock %}