<!DOCTYPE html>
<html>
<head>
    <title>{{ client.name }}</title>
    <meta charset="utf-8">
    <style type="text/css">
        {#* {#}
        {#    margin: 0;#}
        {#    padding: 0;#}
        {#    font-family: 'Calibri', sans-serif;#}
        {#    word-wrap: break-word;#}
        {#}#}
        {##}
        {##}
        {#html {#}
        {#            zoom: 1.60; /*workaround for phantomJS2 */#}
        {#}#}
        {##}
        {#.bold {#}
        {#    font-weight: bolder;#}
        {#}#}
        {##}
        {#.big-font {#}
        {#    font-size: 110%;#}
        {#    font-weight: 700;#}
        {#}#}
        {##}
        {#table {#}
        {#            margin-top: 80px;#} width: 100%;
        {#    border: 1px solid #4b4b4b;#}
        {#    border-spacing: 0;#}
        {#    border-collapse: collapse;#}
        {#    box-sizing: border-box;#}
        {#}#}
        {##}
        {#table thead tr th,#}
        {#table tbody tr td {#}
        {#    font-size: 13px;#}
        {#    font-weight: normal;#}
        {#    vertical-align: bottom;#}
        {#    padding: 8px;#}
        {#    line-height: 1.42857143;#}
        {#    text-align: left;#}
        {#    border: 1px solid #1d1e1f;#}
        {#    border-bottom-width: 0;#}
        {#    word-wrap: break-word;#}
        {#}#}
        {##}
        {#tr > td {#}
        {#    border: 1px solid #ddd;#}
        {#    padding: 8px;#}
        {#    line-height: 1.42857143;#}
        {#    vertical-align: top;#}
        {#    font-size: 13px;#}
        {#}#}
        {##}
        {#tbody > tr > td {#}
        {#    padding: 1px 8px !important;#}
        {#}#}
        {##}
        {#.product-table {#}
        {#    word-wrap: break-word;#}
        {#    width: 100%;#}
        {#            table-layout: fixed;#} white-space: normal;
        {#}#}
        {##}
        {#.product-table th:nth-child(1),#}
        {#.product-table th:nth-child(3),#}
        {#.product-table th:nth-child(5),#}
        {#.product-table th:nth-child(7) {#}
        {#    width: 5%;#}
        {#}#}
        {##}
        {#.product-table th:nth-child(4) {#}
        {#    width: 7%;#}
        {#}#}
        {##}
        {#.product-table th:nth-child(2) {#}
        {#    width: 60% !important;#}
        {#    word-wrap: break-word;#}
        {#}#}
        {##}
        {#.product-table th:last-child {#}
        {#    text-align: right;#}
        {#}#}
        {##}
        {#.product-table tr > td:nth-child(2) {#}
        {#    width: 20%;#}
        {#    word-wrap: break-word;#}
        {#    white-space: normal;#}
        {#}#}
        {##}
        {#.product-table td {#}
        {#    white-space: nowrap;#}
        {#    word-wrap: break-word;#}
        {#    vertical-align: top;#}
        {#    text-align: left;#}
        {#}#}
        {##}
        {#.product-table th {#}
        {#    border: 0;#}
        {#    font-weight: bolder;#}
        {#}#}
        {##}
        {#td.fabric {#}
        {#    font-size: 80%;#}
        {#}#}
        {##}
        {#td.border-bottom {#}
        {#    border-bottom: 1px solid #f2f2f2 !important;#}
        {#}#}
        {##}
        {#.product-table tr:last-child > td {#}
        {#    border-bottom: 1px solid #4b4b4b !important;#}
        {#}#}
        {##}
        {#.text-center {#}
        {#    text-align: center;#}
        {#}#}
        {##}
        {#.text-right {#}
        {#    text-align: right;#}
        {#}#}
        {##}
        {#table {#}
        {#            width: 100%;#}
        {#}#}
        {##}
        {#thead {#}
        {#    background-color: #c3c3c3;#}
        {#}#}
        {##}
        {#.even {#}
        {#    background-color: #d9d9d9;#}
        {#}#}
        {##}
        {#        table.print-friendly tr td, table.print-friendly tr th,#}
        {#tbody, tr, td, th{#        table.print-friendly tr.category-row #} {#}
        {#    page-break-inside: avoid;#}
        {#    white-space: nowrap;#}
        {#}#}
        {##}
        {#.row {#}
        {#    display: flex;#}
        {#    justify-content: center;#}
        {#}#}
        {##}
        {#.label-cell {#}
        {#    width: 10%;#}
        {#    border-right: 0 !important;#}
        {#    border-bottom: 0;#}
        {#    border-top: 0;#}
        {#}#}
        {##}
        {#.value-cell {#}
        {#    border-left: 0;#}
        {#    border-bottom: 0;#}
        {#    border-top: 0;#}
        {#}#}
        {##}
        {#.first-header th {#}
        {#    border-bottom: 0;#}
        {#}#}
        {##}
        {#.main-header th {#}
        {#    border-top: 0;#}
        {#}#}
        {##}
        {#.bold-border {#}
        {#    border: 3px solid black;#}
        {#}#}
        {##}
        {#.no-border > td {#}
        {#    border: 0;#}
        {#}#}
        {##}
        {#.margin-top {#}
        {#    margin-top: 20px;#}
        {#}#}
        {##}
        {#.delivery_details_table td,#}
        {#.delivery_details_table {#}
        {#    border: 0 !important;#}
        {#}#}
        {##}
        {#.delivery_details_table tr:nth-child(1),#}
        {#.delivery_details_table tr:nth-child(3) {#}
        {#    border-bottom: 2px solid black;#}
        {#}#}
        {##}
        {#.delivery_details_table tr:nth-child(2) > td,#}
        {#.delivery_details_table tr:nth-child(3) > td {#}
        {#            text-align: center;#}
        {#}#}
        {##}
        {#.delivery_details_table tr:nth-child(2) > td {#}
        {#    font-weight: normal;#}
        {#}#}
        {##}
        {#.delivery_details_table tr:nth-child(3) > td {#}
        {#    font-weight: bolder;#}
        {#}#}
        {##}
        {#.summary-table {#}
        {#    width: 60%;#}
        {#    float: right;#}
        {#}#}
        {##}
        {#.summary-table,#}
        {#.summary-table td {#}
        {#    border: 0;#}
        {#}#}
        {##}
        {#.summary-table tr:nth-child(1) > td {#}
        {#    font-weight: bolder;#}
        {#    border-bottom: 2px solid black;#}
        {#}#}
        {##}
        {#.main-row {#}
        {#    margin: 0 10px;#}
        {#}#}
        {##}
        {#.first-row {#}
        {#    border-bottom: 4px solid black;#}
        {#    text-align: center;#}
        {#    font-size: 200%;#}
        {#    font-weight: bold;#}
        {#    position: relative;#}
        {#}#}
        {##}
        {#.logo-container {#}
        {#    position: absolute;#}
        {#}#}
        {##}
        {#.logo {#}
        {#    height: 2rem;#}
        {#    display: table-cell;#}
        {#    vertical-align: bottom;#}
        {#}#}

      table {
      border: 1px solid black;
        width: 100%;
        margin-bottom: 24px;
        }


    </style>
</head>
<body>
{% load i18n humanize %}
<div class="page-content">
    <h1 class="row first-row">
        {% trans "Delivery note" %}
    </h1>
    <div class="row main-row">
        <table class="bold-border margin-top">
            <thead>
            <tr style="border-bottom: 0;" class="first-header">
                <th style="width: 50%;" colspan="2">{% trans "Seller" %}</th>
                <th style="width: 50%;" colspan="2">{% trans "Buyer" %}</th>
            </tr>
            <tr class="main-header">
                <th colspan="2" class="text-center big-font">{{ company_name }}</th>
                <th colspan="2" class="text-center big-font">{{ client.name }}</th>
            </tr>
            </thead>
            <tbody>
            {% for row in header_details %}
                <tr>
                    {% for data in row %}
                        <td class="{% cycle 'label-cell' 'value-cell' %}">{{ data }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <table class="margin-top delivery_details_table">
            <tbody>
            {% for row in delivery_note_details %}
                <tr>
                    {% for data in row %}
                        <td class="{% cycle '' 'bold' %}">{{ data }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <table class="product-table margin-top">
            <thead>
            <tr>
                {% for title in products_headers %}
                    <th scope="col" class="no-border">
                        {{ title }}
                    </th>
                {% endfor %}
            </tr>
            </thead>
            <tbody>

            {% for product in product_orders %}
                <tr class="no-border">
                    {% for value in product %}
                        {% if forloop.counter == 10 %}
                            </tr>
                            <tr class="no-border">
                        {% endif %}
                        <td
                                class="
                                    {% if forloop.counter == 11 %} fabric border-bottom
                                    {% elif forloop.counter > 9 %}border-bottom{% endif %}"
                                {% if forloop.counter == 9 %}style="text-align: right;"
                                {% elif forloop.counter == 12 %} colspan="7"{% endif %}

                        >{{ value }}</td>
                    {% endfor %}
                    </tr>
            {% endfor %}

            {% if delivery_net_price %}
                <tr class="no-border">
                    {% for data in delivery_price_data %}
                        <td {% if forloop.counter == 9 %}style="text-align: right;"{% endif %} class="text-right">{{ data }}</td>
                    {% endfor %}
                </tr>
            {% endif %}
            </tbody>
        </table>

        <table class="summary-table margin-top">
            <tbody>
            {% for row in summaries %}
                <tr>
                    {% for data in row %}
                        <td class="text-right">{{ data }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <table class="signature-table margin-top">
            <thead>
            <tr style="margin-bottom: 10px;">
                <th colspan="2" class="text-right big-font">{% trans "Sum price" %}: {{ sum_price }} HUF</th>
            </tr>
            </thead>
            <tbody>
{#            <tr>#}
{#                <td style="width: 50%;" class="big-font">{% trans "Drawer" %}</td>#}
{#                <td style="width: 50%;" class="big-font">{% trans "Buyer" %}</td>#}
{#            </tr>#}
            </tbody>
        </table>
    </div>
</div>
</body>
</html>
