{% extends "easy_pdf/base.html" %}
{% load i18n %}

{% block extra_style %}
  <meta charset="utf-8">
  <title>{{ model }}</title>
  <style>
    html, body, div, span, applet, object, iframe,
    h1, h2, h3, h4, h5, h6, p, blockquote, pre,
    a, abbr, acronym, address, big, cite, code,
    del, dfn, em, img, ins, kbd, q, s, samp,
    small, strike, strong, sub, sup, tt, var,
    b, u, i, center,
    dl, dt, dd, ol, ul, li,
    fieldset, form, label, legend,
    table, caption, tbody, tfoot, thead, tr, th, td,
    article, aside, canvas, details, embed,
    figure, figcaption, footer, header, hgroup,
    menu, nav, output, ruby, section, summary,
    time, mark, audio, video {
      margin: 0;
      padding: 0;
      border: 0;
      font-size: 100%;
      font: inherit;
      vertical-align: baseline;
    }

    /* HTML5 display-role reset for older browsers */
    article, aside, details, figcaption, figure,
    footer, header, hgroup, menu, nav, section {
      display: block;
    }

    html {
      font-size: 10px;
    }

    body {
      font-family: Open Sans, Arial, sans-serif;
      color: #333333;
    }

    /*css*/
    .label {
      padding: 5rem 3rem 2rem 3rem;
      page-break-after: always;
      page-break-inside: avoid;
      height: 10cm !important;
      position: relative;
    }

    .label__section {
      display: table;
      table-layout: fixed;
      width: 100%;
      margin: 0 0 1.8rem 0;
    }

    .label__section__propname {
      font-size: 2rem;
      display: table-cell;
      width: 22.5%;
    }

    .label__section__propvalue {
      font-size: 2.5rem;
      display: table-cell;
      text-align: left;
    }

    .label__section__propvalue--strong {
      font-weight: bolder;
    }

    .label__section--qr {
      position: absolute;
      right: 20px;
      bottom: -11%;
      display: block;
      text-align: right;
      margin: -5.5rem 0 0 0;
    }

    .label__section__qr-img {
      width: 10rem;
      height: 10rem;
      display: inline-block;
    }

    .label__section__qr-content {
      padding: 0 1rem 1rem 0;
      font-weight: bold;
      font-size: 1rem;
    }

    .label__footer {
      position: absolute;
      bottom: -20%;
      display: table;
      table-layout: fixed;
      width: 100%;
      height: 3rem;
      border-top: 1px solid #333333;
      margin: 1rem 0 0 0;
      padding: 1.5rem 0 0 0;
    }

    .label__footer__logo {
      height: 3rem;
      display: table-cell;
      vertical-align: bottom;
    }

    .label__footer__site {
      display: table-cell;
      font-size: 2rem;
      padding: 0;
      text-align: right;
      vertical-align: bottom;
    }
  </style>
{% endblock %}
{% block content %}
  {% for label in labels %}
    <article class="label">
    <section class="label__section">
      <label class="label__section__propname">{% trans 'Model:' %}</label>
      <p class="label__section__propvalue label__section__propvalue--strong">
        {{ label.product_name }}
      </p>
    </section>
    <section class="label__section">
      <label class="label__section__propname">{% trans 'Product part:' %}</label>
      <p class="label__section__propvalue">
        {{ label.product_part_name }}
      </p>
    </section>
    <section class="label__section">
      <label class="label__section__propname">{% trans 'Order:' %}</label>
      <p class="label__section__propvalue label__section__propvalue--strong">
        {{ label.order_date }}
      </p>
    </section>
    <section class="label__section">
      <label class="label__section__propname">{% trans 'Client:' %}</label>
      <p class="label__section__propvalue">
        {{ label.client_name }}
      </p>
    </section>
    <section class="label__section">
      <label class="label__section__propname">{% trans 'Store:' %}</label>
      <p class="label__section__propvalue">
        {{ label.client_store_name }}
      </p>
    </section>
    <section class="label__section label__section--qr">
      <img class="label__section__qr-img" src="data:image/png;base64,{{ label.qr_content }}"/>
      <p class="label__section__qr-content">
        {{ label.identifier }}
      </p>
    </section>
    <footer class="label__footer">
      <a class="label__footer__site">
        {{ label.site_url }}
      </a>
    </footer>
  </article>
  {% endfor %}
{% endblock %}
